.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5em;
}

.form__heading {
	font-weight: bold;
}

.form__input {
	padding: 0.4em 1em;
	border: 1px solid gray;
}

.form__button {
	width: fit-content;
	padding: 0.5em 1.4em;
	color: #fff;
	background-color: rgb(85, 4, 85);
	border: none;
	cursor: pointer;
}
