.button {
	width: fit-content;
	padding: 0.5em 2em;
	border: none;
	color: white;
	background-color: rgb(85, 4, 85);
	transition: background-color 0.3s;
	cursor: pointer;
}

.button:hover {
	background-color: rgb(138, 7, 138);
}
